header {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #1d365d;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);

    ul {
        padding: 10px 0 0 0;
        li {
            list-style-type: none;
            font-weight: bold;
            display: inline-block;
            margin-right: 25px;
            color: #ffffff;
            font-size: 18px;
            a {
                cursor: pointer;
            }
            &.comp {
                font-size: 30px;
            }
            &:last-child {
                float: right;
                margin-top: 15px;
            }
            &.lend {
                float: right;
                cursor: pointer;
                border: 1px solid #d6d6d6;
                padding: 10px;
                margin-top: 5px;
                i {
                    margin-right: 5px;
                }
            }
            &.notify {
                float: right;
                margin-top: 15px;
                cursor: pointer;
            }
        }
    }
}