<header class="row">
  <ul class="container">
    <li class="item comp">
      <a>LendiMan</a>
    </li>
    <li class="item">
      <a>Home</a>
    </li>
    <li class="item">
      <a>About us</a>
    </li>
    <li class="item lend">
      <i class="fa fa-money" aria-hidden="true"></i>
      <a>Lend</a>
    </li>
    <li class="item notify">
      <i class="fa fa-bell-o" aria-hidden="true"></i>
    </li>
    <li class="item">
      <a>Sign in</a>
    </li>
  </ul>
</header>