.item_cont {
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    img {
        width: 175px;
        height: 175px;
    }
    .placeholder {
        border: 1px solid #d3d3d3;
        padding:20px;
        .desc {
            margin-top: 10px;
        }
        button {
            color: #000000;
            font-weight: bolder;
        }
    }
}